<style>
	.alert {
		position: fixed;
		top: 601px;
		z-index: 1000;
		padding-top: 8px;
		padding-bottom: 10px;
	}
	#btn-close {
		padding-top: 8px;
	}
</style>
<% if(success && success.length) {%>
	<div class="alert alert-success alert-dismissible fade show" role="alert" style="background-color: mediumspringgreen; opacity: 0.9; border-color: transparent;">
		<%= success %>
		<button type="button" style="border-color: transparent;" id="btn-close" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
<% }%>

<% if(error && error.length) {%>
	<div class="alert alert-danger alert-dismissible fade show mt-3" role="alert" style="margin-top: 60px z-index: 1000;">
		<%= error %>
		<button type="button" id="btn-close" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
<% }%>