<style>
	nav.navbar {
		background-color: transparent !important;
		font-family: "Lato", sans-serif;
	}
	/*nav.navbar:hover {
		background-color: white !important;
		box-shadow: 0 1rem 7rem rgba(0, 0, 0, 0.15) !important;
	}*/
	nav.navbar.hovClass {
		background-color: white !important;
		box-shadow: 0 1rem 7rem rgba(0, 0, 0, 0.15) !important;
	}
	.navbar-dark .navbar-toggler-icon {
    	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.6%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
	}
	nav a {
		color: #424551 !important;
		transition: color 0.25s ease-in-out,background-color 0.25s ease-in-out,border-color 0.25s ease-in-out;
	}
	nav .user a:hover {
		color: #0d6efd !important;
	}
	@media (min-width: 768px) {
		#login,#register {
			transition: all .2s ease-in-out;
			text-align: center;
			vertical-align: middle;
			border: 0.0625rem solid transparent;
			font-weight: 600;
			padding: .625rem 1.125rem;
			font-size: 0.875rem;
			line-height: 1.5;
			border-radius: 0.25rem;
			background-color: #0d6efd !important;
			color: white !important;
		}
		#login:hover,#register:hover {
			box-shadow: 0 1rem 7rem rgba(0, 0, 0, 0.15) !important;
			transform: translateY(-5px);
		}
		#login {
			margin-right: 8px;
		}
	}
</style>
<style id="hoverStyle">
	nav.navbar:hover {
		background-color: white !important;
		box-shadow: 0 1rem 7rem rgba(0, 0, 0, 0.15) !important;
	}
</style>
<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark" id="navbar">
		<div class="container-fluid">
	    	<a class="navbar-brand" href="#">YelpCamp</a>
	    	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	      		<span class="navbar-toggler-icon"></span>
	    	</button>
		    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		      	<div class="navbar-nav user">
		        	<a class="nav-link" href="/">Home</a>
		        	<a class="nav-link" href="/campgrounds">Campgrounds</a>
		        	<a class="nav-link" href="/campgrounds/new">New Campground</a>
		      	</div>
		      	<div class="navbar-nav ms-auto">
		      		<% if(!currentUser) {%>
		      			<a href="/login" class="nav-link" id="login">Login</a>
		      			<a href="/register" class="nav-link" id="register">Sign Up</a>
		      		<% }else {%>
		      			<a href="/logout" class="nav-link">Logout</a>
		      		<% }%>
		      	</div>
		    </div>
	  	</div>
</nav>
<script>
	const nav = document.querySelector('nav.navbar');
	let flag;
	function fixedFunction(e) {
		if(window.scrollY>=612 && !flag){
			document.getElementById('hoverStyle').remove();
			document.getElementById('navbar').classList.add('hovClass');
			nav.style.opacity='0.95';
			flag=true;
		}
		else if(window.scrollY<612 && flag){
			nav.style.opacity='1';
			flag= false;
		}
	}

	window.addEventListener('scroll', fixedFunction );
</script>