<% layout('layouts/boilerplate')%>
<style>
	main.container {
		margin-top: 4rem !important;
	}
	.alert.alert-danger {
		position: inherit;
		top: none;
		z-index: none;
		padding-top: none;
		padding-bottom: none;
	}
</style>
<div class="row">
	<div class="col-6 offset-3">
		<div class="alert alert-danger" role="alert">
  			<h4 class="alert-heading"><%=err.message%></h4>
  			<% if(process.env.NODE_ENV !== "production") {%>
  				<p><%=err.stack%></p>
  			<% } %>
		</div>
	</div>
</div>
<script>
			
			
			let flag_error;
			function fixedFunction(e) {
				if(window.scrollY>=12 && !flag_error){
					document.getElementById('hoverStyle').remove();
					document.getElementById('navbar').classList.add('hovClass');
					nav.style.opacity='0.95';
					flag_error=true;
				}
				else if(window.scrollY<12 && flag_error){
					document.getElementById('navbar').classList.remove('hovClass');
					document.body.appendChild(mainStyle);
					nav.style.opacity='1';
					flag_error= false;
				}
			}

			window.addEventListener('scroll', fixedFunction );
</script>