a.btn-primary {
	transition: all 0.2s ease-in-out;
	text-align: center;
	vertical-align: middle;
	border: 0.0625rem solid transparent;
	font-weight: 600;
	padding: 0.625rem 1.125rem;
	font-size: 0.875rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	background-color: #0d6efd !important;
	color: white !important;
}

a.btn-primary:hover {
	box-shadow: 0 1rem 7rem rgba(0, 0, 0, 0.15) !important;
	transform: translateY(-5px);
	border-color: transparent !important;
}

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 100vh;
	/*background-color: #dce0e9;*/
	background-image: url(/assets/asset_pic_22.jpg);
	font-family: "Lato", sans-serif;
}
#wave {
	position: fixed;
	bottom: 0;
	z-index: -1;
}
#wave2 {
	/*display: none;*/
	position: fixed;
	top: 0px;
	z-index: -2;
	display: none;
}
#wave3 {
	position: fixed;
	bottom: 0px;
	z-index: -3;
	display: none;
}
footer {
	bottom: -7px;
	position: fixed;
	left: 12px;
}
.container {
	width: 100vw;
	position: relative;
	right: -116px;
	transform-origin: bottom right;
	transform: rotateZ(-14deg);
}
#item1 {
	position: absolute;
	right: 69px;
	top: -103px;
	width: 373.7px;
	height: 221.25px;
	box-shadow: 0 0.5rem 1.7rem rgba(0, 0, 0, 0.35) !important;
	/*background-color: maroon;*/
	background-image: url(/assets/asset_pic_17.jpg);
	background-size: cover;
	background-position: bottom;
}
#item2 {
	position: absolute;
	z-index: 1;
	top: 140px;
	right: 126px;
	width: 373.7px;
	height: 221.25px;
	box-shadow: 0 0.5rem 1.7rem rgba(0, 0, 0, 0.35) !important;
	background-image: url(/assets/asset_pic_6.jpg);
	background-size: cover;
}
#item3 {
	position: absolute;
	z-index: 2;
	top: 382px;
	right: 192px;
	width: 373.7px;
	height: 221.25px;
	box-shadow: 0 0.5rem 1.7rem rgba(0, 0, 0, 0.35) !important;
	background-image: url(/assets/asset_pic_9.jpg);
	background-size: cover;
}
#item4 {
	position: absolute;
	top: -8px;
	right: 396px;
	width: 373.7px;
	height: 221.25px;
	box-shadow: 0 0.5rem 1.7rem rgba(0, 0, 0, 0.35) !important;
	background-image: url(/assets/asset_pic_8.jpg);
	background-size: cover;
	background-position: bottom;
}
#item5 {
	position: absolute;
	top: 237px;
	right: 531px;
	width: 373.7px;
	height: 221.25px;
	box-shadow: 0 0.5rem 1.7rem rgba(0, 0, 0, 0.35) !important;
	background-image: url(https://images.unsplash.com/photo-1559521783-1d1599583485?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
	background-size: cover;
	background-position: center;
}
#text-content {
	position: fixed;
	z-index: 10;
	top: 224px;
	left: 50px;
}
#main-heading {
	font-size: 4.2rem;
}
.lead {
	font-size: 1.056rem;
	margin-top: 10px;
}
@media (min-width: 869px) and (max-width: 1066px) {
	.container {
		transform: rotateZ(-14deg) scale(0.8);
	}
}
@media (min-width: 696px) and (max-width: 868px) {
	.container {
		transform: rotateZ(-14deg) scale(0.6);
	}
}
@media (max-width: 838px) {
	#text-content {
		top: 196px;
		left: 16px;
	}
}
@media (max-width: 767px) {
	#text-content {
		top: 405px;
		left: 16px;
	}
}
@media (min-width: 597px) and (max-width: 695px) {
	.container {
		transform: rotateZ(-14deg) scale(0.6);
		top: -24px;
		right: -76px;
	}
}
#background-div {
	display: none;
}
@media (max-width: 596px) {
	body {
		background-image: none;
	}
	.container {
		display: none;
	}
	#wave2,
	#wave3 {
		display: inherit;
	}
	#wave2 {
		transform: scale(1.8);
		top: 79px;
	}
	#wave3 {
		background-color: #0d6efd !important;
		bottom: 152px;
	}
	#wave {
		display: none;
	}
	#background-div {
		display: block;
		height: 43vh;
		width: 100%;
		z-index: -4;
		position: fixed;
		top: 191px;
		background-color: #0d6efd;
	}
	#text-content {
		top: 202px;
		left: 8vw;
		color: white;
	}
	a.btn-primary {
		background-color: white !important;
		color: #0d6efd !important;
	}
}
