<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>All Campgrounds</title>
</head>
<body>
	<h1>This is the page to show all the campgrounds in the database</h1>
	<ol>
		<% for(let x of grounds) {%>
		    <li><a href="/campgrounds/<%=x._id%>"><%=x.title%>, <%=x.location%></a></li>
		<%}%>
	</ol>
	<a href="/campgrounds/new">Add a new campground</a>
</body>
</html>